@import-normalize;

/* Variables */
$primary-color: #556278;
$secondary-color: #152a54;

$divider: #94a2b0;

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

.app {
  margin: 40px;
}

.order-container {
  padding: 20px;
}

button {
  background: transparent;
  border: none;
  padding: 10px;
  font-size: inherit;
  border-radius: 2px;
  cursor: pointer;
  outline: none;

  &.steps {
    margin-right: 15px;
  }

  &.order {
    border-bottom: 1px solid $primary-color;
    margin: 5px;
    &.-selected {
      color: #ffffff;
      background: $secondary-color;
    }
  }

  &.next {
    margin-top: 20px;
  }
}
